/*
Theme Name: Moinstall
Theme URI: http://anisul.com/
Author: Md Anisul Kibria
Author URI: http://anisul.com
Description: Theme for Moinstall
Version: 1.0
Text Domain: moinstall
Domain Path: /languages/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
  body
{
  color:#494949;
  background-color:#dca749
}
.container {
  padding-left: 10px;
  padding-right: 10px;
}
  a,a:hover,a:active,a:focus
}
{
  color:#ec587a
}
  a:hover
{
  border-color:#ec587a
}
.various-content h1,.various-content h2,.various-content h3,.various-content h4,.various-content h5
{
  color:#3f3f3f
}
.various-content ul>li:before
{
  background-color:#3f3f3f
}
.various-content ul ul>li:before
{
  background-color:#d0d0d0
}
.various-content table th
{
  border-color:#eee
}
.various-content table.m-alternate tbody>tr:nth-child(even)
{
  background-color:#eee
}
.heading-2
{
  color:#3f3f3f
}
.default-form label
{
  color:#3f3f3f
}
.default-form label>span
{
  color:#ec587a
}
.default-form input,.default-form textarea,.default-form select,.default-form .selectbox-input .toggle
{
  color:#494949;
  background-color:#eee
}
.default-form input.m-type-2,.default-form textarea.m-type-2,.default-form select.m-type-2
{
  border-color:#e1e1e1;
  background-color:transparent
}
.default-form input.m-error,.default-form textarea.m-error,.default-form select.m-error
{
  -moz-box-shadow:inset 0 0 0 3px #ffdfe0;
  -webkit-box-shadow:inset 0 0 0 3px #ffdfe0;
  box-shadow:inset 0 0 0 3px #ffdfe0
}
.default-form .checkbox-input label,.default-form .radio-input label
{
  color:#494949
}
.default-form .checkbox-input label:before,.default-form .radio-input label:before
{
  color:#d0d0d0
}
.default-form .checkbox-input.m-checked label:before,.default-form .radio-input.m-checked label:before
{
  color:#ec587a
}
.default-form .selectbox-input .toggle:after
{
  color:#ec587a
}
.default-form .selectbox-input .fake-selectbox
{
  background-color:#eee;
  -moz-box-shadow:0 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 3px 3px rgba(0,0,0,0.1);
  box-shadow:0 3px 3px rgba(0,0,0,0.1)
}
.default-form .selectbox-input .fake-selectbox>li:hover
{
  color:#FFF;
  background-color:#ec587a
}
.various-content .c-accordion>li,.c-accordion>li
{
  border-color:#eee
}
.various-content .c-accordion .accordion-title,.c-accordion .accordion-title
{
  color:#3f3f3f
}
.various-content .c-accordion .accordion-title:before,.c-accordion .accordion-title:before
{
  color:#ec587a
}
.various-content .c-accordion .accordion-price,.c-accordion .accordion-price
{
  color:#ec587a
}
.various-content .c-accordion .accordion-price .sale-price,.c-accordion .accordion-price .sale-price
{
  color:#dca749
}
.various-content .c-accordion .accordion-price .strikethrough,.c-accordion .accordion-price .strikethrough
{
  color:#494949
}
.c-alert-message
{
  border-color:#fff
}
.c-alert-message.m-warning
{
  color:#d40041;
  background-color:#ffdfe0;
  -moz-box-shadow:0 0 0 5px #ffdfe0;
  -webkit-box-shadow:0 0 0 5px #ffdfe0;
  box-shadow:0 0 0 5px #ffdfe0
}
.c-alert-message.m-success
{
  color:#499143;
  background-color:#d4fbd3;
  -moz-box-shadow:0 0 0 5px #d4fbd3;
  -webkit-box-shadow:0 0 0 5px #d4fbd3;
  box-shadow:0 0 0 5px #d4fbd3
}
.c-alert-message.m-info
{
  color:#265e88;
  background-color:#e1edf9;
  -moz-box-shadow:0 0 0 5px #e1edf9;
  -webkit-box-shadow:0 0 0 5px #e1edf9;
  box-shadow:0 0 0 5px #e1edf9
}
.c-alert-message.m-notification
{
  color:#c88435;
  background-color:#fff4cf;
  -moz-box-shadow:0 0 0 5px #fff4cf;
  -webkit-box-shadow:0 0 0 5px #fff4cf;
  box-shadow:0 0 0 5px #fff4cf
}
.c-blog .article-inner
{
  border-color:#eee
}
.c-blog .article-quote
{
  border-color:#e1e1e1
}
.c-blog .article-quote blockquote p
{
  color:#3f3f3f
}
.c-blog .article-link:before,.c-blog article.link .article-title:before
{
  color:#e1e1e1
}
.c-blog .article-footer
{
  border-color:#eee
}
.c-blog .article-info>li:before
{
  color:#d0d0d0;
  background:none
}
.c-blog .blog-filter>li>button
{
  color:#d0d0d0
}
.c-blog .blog-filter>li>button:hover,.c-blog .blog-filter>li>button.m-active
{
  color:#ec587a
}
.c-button
{
  color:#FFF;
  border-color:#ec587a;
  background-color:#ec587a
}
.c-button:hover,.c-button:active
{
  color:#FFF
}
.c-button:hover:not(.m-disabled),.c-button:active:not(.m-disabled)
{
  color:#ec587a;
  background-color:transparent
}
.c-button.m-color-2
{
  border-color:#dca749;
  background-color:#dca749
}
.c-button.m-color-2:hover:not(.m-disabled),.c-button.m-color-2:active:not(.m-disabled)
{
  color:#dca749;
  background-color:transparent
}
.c-button.m-color-3
{
  border-color:#3f3f3f;
  background-color:#3f3f3f
}
.c-button.m-color-3:hover:not(.m-disabled),.c-button.m-color-3:active:not(.m-disabled)
{
  color:#3f3f3f;
  background-color:transparent
}
.c-button.m-outline
{
  color:#ec587a;
  border-color:#ec587a;
  background-color:transparent
}
.c-button.m-outline:hover:not(.m-disabled),.c-button.m-outline:active:not(.m-disabled)
{
  color:#FFF;
  background-color:#ec587a
}
.c-button.m-outline.m-color-2
{
  color:#dca749;
  border-color:#dca749
}
.c-button.m-outline.m-color-2:hover:not(.m-disabled),.c-button.m-outline.m-color-2:active:not(.m-disabled)
{
  color:#FFF;
  background-color:#dca749
}
.c-button.m-outline.m-color-3
{
  color:#3f3f3f;
  border-color:#3f3f3f
}
.c-button.m-outline.m-color-3:hover:not(.m-disabled),.c-button.m-outline.m-color-3:active:not(.m-disabled)
{
  color:#FFF;
  background-color:#3f3f3f
}
.c-counter .counter-value
{
  color:#ec587a
}
.c-cta-message
{
  background-color:#eee
}
.c-divider
{
  border-color:#eee
}
.c-divider.m-transparent
{
  border-color:transparent
}
.c-gallery .item-list
{
  background-color:#eee
}
.c-gallery.m-no-bg .item-list
{
  background-color:transparent
}
.c-gallery.m-frames .item-list
{
  background-color:transparent;
  border-color:#fff
}
.c-gallery.m-frames .item-list>.item
{
  border-color:#fff
}
.c-gallery .item-list .item-image:after
{
  background-color:#ec587a;
  background-color:rgba(236,88,122,0.9)
}
.c-gallery .item-list .m-video .item-image:before,.c-gallery .item-list .item-image.lightbox-video:before
{
  color:#FFF;
  color:rgba(255,255,255,0.5)
}
.c-gallery .item-list .item.m-overlay-ico:after
{
  color:#FFF
}
.c-gallery .item-list .item-info
{
  color:#FFF
}
.c-gallery .item-list .item-info h4,.c-gallery .item-list .item-info h4 a
{
  color:#FFF
}
.c-gallery .item-list .item-info h4:after
{
  background-color:#FFF
}
.c-gallery .item-list .item-tools>*
{
  color:#FFF
}
.c-gallery .item-list .item-tools>*:hover
{
  color:#ec587a;
  background-color:#FFF
}
.c-gallery .gallery-tools,.c-gallery .gallery-tools:first-child
{
  border-color:#eee
}
.c-gallery .gallery-filter>li>button
{
  color:#d0d0d0
}
.c-gallery .gallery-filter>li>button:hover,.c-gallery .gallery-filter>li>button.m-active
{
  color:#ec587a
}
.c-gallery .gallery-tools-top
{
  border-color:#eee
}
.c-icon-block>.fa
{
  color:#ec587a
}
.c-icon-block h3
{
  color:#3f3f3f
}
.c-loading-anim
{
  background-color:#d0d0d0
}
.c-loading-anim>span
{
  background-image:url("../../img/loader_2x.gif");
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/loader_2x.gif', sizingMethod='scale');
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../img/loader_2x.gif', sizingMethod='scale')"
}
.c-modal
{
  background-color:rgba(236,88,122,0.8);
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(220,167,73,0.8)), to(transparent));
  background-image:-webkit-linear-gradient(top, rgba(220,167,73,0.8), transparent);
  background-image:-moz-linear-gradient(top, rgba(220,167,73,0.8), transparent);
  background-image:-o-linear-gradient(top, rgba(220,167,73,0.8), transparent);
  background-image:linear-gradient(to bottom, rgba(220,167,73,0.8),transparent)
}
.c-modal .modal-loading .c-loading-anim
{
  background-color:transparent
}
.c-modal .modal-box
{
  background-color:#fff
}
.c-modal .modal-header
{
  border-color:#eee
}
.c-modal .modal-title h1,.c-modal .modal-title h1 a
{
  color:#3f3f3f
}
.c-pagination .c-button
{
  border-color:#eee
}
.c-pagination .c-button:hover
{
  border-color:#ec587a
}
.c-pagination .m-active .c-button
{
  color:#FFF;
  border-color:#ec587a;
  background-color:#ec587a
}
.c-pagination.m-ajaxed .c-button
{
  border-color:#ec587a
}
.c-pagination.m-ajaxed .c-button.m-loading
{
  color:#FFF;
  background-color:#ec587a
}
.various-content .c-parallax-section,.c-parallax-section
{
  border-color:#fff
}
.various-content .c-parallax-section .section-inner,.c-parallax-section .section-inner
{
  color:#FFF;
  background-color:rgba(0,0,0,0.5)
}
.various-content .c-parallax-section .section-header h2,.c-parallax-section .section-header h2
{
  color:#FFF
}
.various-content .c-parallax-section .section-header h2:after,.c-parallax-section .section-header h2:after
{
  background-color:#ec587a
}
.various-content .c-parallax-section .c-button,.c-parallax-section .c-button
{
  color:#FFF
}
.various-content .c-pricing-table,.c-pricing-table
{
  border-color:#eee
}
.various-content .c-pricing-table .table-price,.c-pricing-table .table-price
{
  color:#ec587a
}
.various-content .c-pricing-table .table-price>span,.c-pricing-table .table-price>span
{
  color:#3f3f3f
}
.various-content .c-pricing-table .table-content ul>li,.c-pricing-table .table-content ul>li
{
  border-color:#eee
}
.c-progress-bar
{
  background-color:#eee
}
.c-progress-bar>span
{
  background-color:#ec587a
}
.c-progress-bar.m-color-2>span
{
  background-color:#dca749
}
.c-progress-bar.m-color-3>span
{
  background-color:#3f3f3f
}
.c-search-form .form-fields
{
  border-color:#eee
}
.c-search-form input
{
  color:#3f3f3f
}
  section .section-header h2
{
  color:#3f3f3f
}
  section .section-header h2:after
{
  background-color:#ec587a
}
.c-service
{
  border-color:#e1e1e1
}
.c-service .service-ico
{
  color:#FFF;
  background-color:#ec587a;
  border-color:#fff
}
.c-service h3
{
  color:#3f3f3f
}
.c-slider .slide
{
  color:#FFF
}
.c-slider h1,.c-slider h2,.c-slider h3,.c-slider h4
{
  color:#FFF
}
.c-slider .c-button
{
  color:#3f3f3f;
  border-color:#FFF;
  background-color:#FFF
}
.c-slider .c-button:hover,.c-slider .c-button:active
{
  color:#3f3f3f
}
.c-slider .c-button:hover:not(.m-disabled),.c-slider .c-button:active:not(.m-disabled)
{
  color:#FFF;
  background-color:transparent
}
.c-slider .c-button.m-outline
{
  color:#FFF;
  border-color:#FFF;
  background-color:transparent
}
.c-slider .c-button.m-outline:hover:not(.m-disabled),.c-slider .c-button.m-outline:active:not(.m-disabled)
{
  color:#3f3f3f;
  background-color:#FFF
}
.c-slider .slide-bg
{
  background-color:rgba(0,0,0,0.2)
}
.c-slider h1 a,.c-slider h2 a
{
  color:#FFF
}
.c-slider h1 a:hover,.c-slider h2 a:hover
{
  border-color:#FFF
}
.c-slider .nav-prev,.c-slider .nav-next
{
  color:#FFF;
  border-color:#FFF
}
.c-slider .nav-prev:hover,.c-slider .nav-next:hover
{
  color:#3f3f3f;
  background-color:#FFF
}
.c-slider .slider-indicator
{
  background-color:#FFF;
  background-color:rgba(255,255,255,0.2)
}
.c-slider .slider-indicator>span
{
  background-color:#ec587a
}
.c-tabs .tab-list>li
{
  color:#3f3f3f;
  border-color:#eee;
  background-color:transparent
}
.c-tabs .tab-list>li:hover
{
  border-color:#d0d0d0
}
.c-tabs .tab-list>li.m-active
{
  color:#FFF;
  border-color:#ec587a;
  background-color:#ec587a
}
.various-content .c-team-member .member-name,.c-team-member .member-name
{
  color:#3f3f3f
}
.various-content .c-team-member .member-role,.c-team-member .member-role
{
  color:#494949
}
.various-content .c-team-member .member-social>li>a:hover,.c-team-member .member-social>li>a:hover
{
  color:#FFF;
  background-color:#ec587a
}
  #header.m-standard,#header.m-large
{
  background:url("img/header_bg.jpg") center 0 no-repeat;
  background-size:cover
}
  #header.m-standard .header-inner,#header.m-large .header-inner
{
  background-image:-webkit-gradient(linear, left bottom, left top, from(#ec587a), to(rgba(220,167,73,0.8)));
  background-image:-webkit-linear-gradient(bottom, #ec587a, rgba(220,167,73,0.8));
  background-image:-moz-linear-gradient(bottom, #ec587a, rgba(220,167,73,0.8));
  background-image:-o-linear-gradient(bottom, #ec587a, rgba(220,167,73,0.8));
  background-image:linear-gradient(to top, #ec587a,rgba(220,167,73,0.8))
}
  #header.m-standard .header-menu>ul>li>a,#header.m-large .header-menu>ul>li>a
{
  color:#fff
}
  #header.m-standard .header-menu>ul>li.m-active>a:after,#header.m-large .header-menu>ul>li.m-active>a:after
{
  background-color:#FFF;
  background-color:rgba(255,255,255,0.5)
}
  #header.m-standard .header-menu>ul>li>a:hover:after,#header.m-large .header-menu>ul>li>a:hover:after
{
  background-color:#FFF;
  background-color:#fff
}
  #header.m-standard .header-menu ul>li>ul,#header.m-large .header-menu ul>li>ul
{
  background-color:#fff;
  -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.15);
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.15);
  box-shadow:1px 1px 2px rgba(0,0,0,0.15)
}
  #header.m-standard .header-menu ul>li>ul a,#header.m-large .header-menu ul>li>ul a
{
  color:#3f3f3f
}
  #header.m-standard .header-menu ul>li>ul a:hover,#header.m-large .header-menu ul>li>ul a:hover
{
  color:#fff;
  background-color:#ec587a
}
  #header.m-standard .header-menu ul>li>ul li.m-hover>a:not(:hover),#header.m-large .header-menu ul>li>ul li.m-hover>a:not(:hover)
{
  color:#fff;
  background-color:rgba(236,88,122,0.7)
}
  #header.m-standard .main-sidebar-toggle,#header.m-large .main-sidebar-toggle
{
  color:#fff;
  border:2px solid #fff
}
  #header.m-standard .main-sidebar-toggle.m-active,#header.m-standard .main-sidebar-toggle:hover,#header.m-large .main-sidebar-toggle.m-active,#header.m-large .main-sidebar-toggle:hover
{
  background-color:#fff;
  color:#ec587a
}
  @media all and (min-width: 0 \0 ) and (min-resolution: 0.001dpcm)
{
  #header .header-inner
{
  background-color:#dca749
}

}
  #header-fixed
{
  background-color:#161616;
  background-color:rgba(22,22,22,0.95)
}
  #header-fixed .header-menu>ul>li>a
{
  color:#fff
}
  #header-fixed .header-menu>ul>li.m-active>a:after
{
  background-color:#ec587a;
  background-color:rgba(236,88,122,0.6)
}
  #header-fixed .header-menu>ul>li>a:hover:after
{
  background-color:#ec587a
}
  #header-fixed .header-menu ul>li>ul
{
  background-color:#161616;
  background-color:rgba(22,22,22,0.95)
}
  #header-fixed .header-menu ul>li>ul ul
{
  background-color:#161616
}
  #header-fixed .header-menu ul>li>ul a
{
  color:#fff
}
  #header-fixed .header-menu ul>li>ul a:hover
{
  background-color:#ec587a
}
  #header-fixed .header-menu ul>li>ul li.m-hover>a:not(:hover)
{
  background-color:rgba(236,88,122,0.5)
}
  #header-fixed .header-menu>ul>li.m-hover>a,#header-fixed .header-menu>ul>li.m-active>a
{
  border-color:#ec587a
}
  #header-fixed .main-sidebar-toggle
{
  color:#fff;
  border:2px solid #fff
}
  #header-fixed .main-sidebar-toggle.m-active,#header-fixed .main-sidebar-toggle:hover
{
  background-color:#fff;
  color:#ec587a
}
  #body
{
  background-color:#dca749;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#ec587a), to(#dca749 100vh));
  background-image:-webkit-linear-gradient(top, #ec587a, #dca749 100vh);
  background-image:-moz-linear-gradient(top, #ec587a, #dca749 100vh);
  background-image:-o-linear-gradient(top, #ec587a, #dca749 100vh);
  background-image:linear-gradient(to bottom, #ec587a,#dca749 100vh)
}
.m-header-scrolled-out #body
{
  background-image:-webkit-gradient(linear, left top, left bottom, from(#ec587a), to(#dca749 100%));
  background-image:-webkit-linear-gradient(top, #ec587a, #dca749 100%);
  background-image:-moz-linear-gradient(top, #ec587a, #dca749 100%);
  background-image:-o-linear-gradient(top, #ec587a, #dca749 100%);
  background-image:linear-gradient(to bottom, #ec587a,#dca749 100%);
  background-attachment:fixed
}
  #wrapper
{
  border-color:#fff;
  background-color:#fff
}
  #page-header
{
  border-color:#eee
}
  #page-header h1
{
  color:#3f3f3f
}
  #page-header h1:after
{
  background-color:#ec587a
}
.blog-detail .article-title,.blog-list .article-title
{
  color:#3f3f3f
}
.blog-detail .article-quote,.blog-list .article-quote
{
  border-color:#e1e1e1
}
.blog-detail .article-quote blockquote p,.blog-list .article-quote blockquote p
{
  color:#3f3f3f
}
.blog-detail .article-link:before,.blog-detail article.link .article-title:before,.blog-list .article-link:before,.blog-list article.link .article-title:before
{
  color:#e1e1e1
}
.blog-detail .article-footer,.blog-list .article-footer
{
  border-color:#eee
}
.blog-detail .article-info>li:before,.blog-list .article-info>li:before
{
  color:#d0d0d0
}
.blog-detail .article-author .author-name
{
  color:#3f3f3f
}
.blog-detail .article-author .author-social>li>a
{
  color:#ec587a;
  background-color:transparent
}
.blog-detail .article-author .author-social>li>a:hover
{
  color:#FFF;
  background-color:#ec587a
}
.blog-detail .article-navigation h5
{
  color:#3f3f3f
}
.blog-detail .comment-list .comment-author
{
  color:#3f3f3f
}
.blog-detail .comment-list .comment-info
{
  border-color:#eee
}
.blog-detail .comment-list .comment-date:before,.blog-detail .comment-list .comment-reply:before
{
  color:#d0d0d0
}
.blog-detail .comment-list .comment-reply:hover:before
{
  color:#ec587a
}
.portfolio-detail .project-images
{
  border-color:rgba(0,0,0,0.05)
}
.portfolio-detail .project-images .image-info
{
  background-color:rgba(255,255,255,0.5)
}
.portfolio-detail .project-info>dt
{
  color:#3f3f3f
}
.portfolio-detail .project-folders ul:before
{
  color:#ec587a
}
.search-results .item-title
{
  color:#3f3f3f
}
.search-results .search-query
{
  color:#dca749
}
.error-page .error-header h1
{
  color:#ec587a
}
.error-page .error-header h1>span
{
  color:#d0d0d0
}
.error-page .error-header p
{
  color:#3f3f3f
}
  #page-sidebar .widget-title,#page-sidebar .widget-title a
{
  color:#3f3f3f
}
  #page-sidebar .widget-title:after
{
  background-color:#ec587a
}
  #bottom-panel
{
  color:#fff;
  background-color:#161616;
  border-color:#404040
}
  #bottom-panel .widget-title,#bottom-panel .widget-title a
{
  color:#fff
}
  #bottom-panel .widget-title:after
{
  background-color:#ec587a
}
  #bottom-panel .c-loading-anim
{
  background-color:transparent
}
  #bottom-panel .c-alert-message
{
  color:#fff;
  border-color:#2e2e2e;
  background:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none
}
  #bottom-panel .blog-widget ul>li
{
  border-color:#2e2e2e
}
  #bottom-panel .blog-widget h4 a
{
  color:#fff
}
  #bottom-panel .blog-widget h4 a:hover
{
  border-color:#fff
}
  #bottom-panel .blog-widget .date
{
  color:#fff;
  color:rgba(255,255,255,0.5)
}
  #bottom-panel .image-list>li>a
{
  -moz-box-shadow:0 0 0 3px #2e2e2e;
  -webkit-box-shadow:0 0 0 3px #2e2e2e;
  box-shadow:0 0 0 3px #2e2e2e
}
  #bottom-panel .image-list>li>a:hover
{
  -moz-box-shadow:0 0 0 3px #404040;
  -webkit-box-shadow:0 0 0 3px #404040;
  box-shadow:0 0 0 3px #404040
}
  #bottom-panel .subscribe-widget input
{
  color:#fff;
  background-color:#2e2e2e
}
  #bottom-panel .subscribe-widget button
{
  color:#fff
}
  #bottom-panel .twitter-widget .nav-buttons
{
  border-color:#ec587a
}
  #bottom-panel .twitter-widget .nav-buttons>button
{
  color:#fff
}
  #bottom-panel .twitter-widget .nav-buttons>button:hover
{
  color:#FFF;
  background-color:#ec587a
}
  #bottom-panel #back-to-top
{
  color:#fff
}
  #footer
{
  color:#FFF
}
  #footer a
{
  color:#FFF;
  border-color:rgba(255,255,255,0.2)
}
  #footer a:hover
{
  border-color:#FFF
}
  #footer .footer-social
{
  margin-top:-2px
}
  #footer .footer-social>li>a:hover
{
  color:#dca749;
  background-color:#FFF
}
  #main-sidebar
{
  color:#fff;
  background-color:#161616
}
  #main-sidebar .sidebar-divider
{
  border-color:#2e2e2e
}
  #main-sidebar .sidebar-close
{
  color:#FFF;
  background-color:#ec587a
}
  #main-sidebar .sidebar-close:hover
{
  color:#ec587a;
  background-color:#FFF
}
  #main-sidebar .sidebar-search
{
  background-color:#2e2e2e
}
  #main-sidebar .sidebar-search input
{
  color:#FFF
}
  #main-sidebar .sidebar-search input.m-has-placeholder
{
  color:rgba(255,255,255,0.5)
}
  #main-sidebar .sidebar-search button
{
  color:#ec587a
}
  #main-sidebar .sidebar-search button:hover
{
  color:#FFF;
  background-color:#ec587a
}
  #main-sidebar .sidebar-menu a
{
  color:#fff
}
  #main-sidebar .sidebar-menu a:hover
{
  border-color:#fff
}
  #main-sidebar .sidebar-menu .m-active>a
{
  color:#ec587a
}
  #main-sidebar .sidebar-menu .m-active>a:hover
{
  border-color:#ec587a
}
  #main-sidebar .sidebar-menu .toggle
{
  color:#ec587a
}
  #main-sidebar .sidebar-menu .toggle.m-active,#main-sidebar .sidebar-menu .toggle:hover
{
  color:#FFF;
  background-color:#ec587a
}
  #main-sidebar .sidebar-menu ul>li>ul a
{
  color:rgba(255,255,255,0.5)
}
  #main-sidebar .sidebar-menu ul>li>ul a:hover
{
  border-color:rgba(255,255,255,0.5)
}
  #main-sidebar .sidebar-social>li>a
{
  color:#161616;
  background-color:#fff
}
  #main-sidebar .sidebar-social>li>a:hover
{
  color:#FFF;
  background-color:#ec587a
}
  #main-sidebar .sidebar-widgets>.widget
{
  border-color:#2e2e2e
}
  #main-sidebar .widget-title,#main-sidebar .widget-title a
{
  color:#fff
}
  #main-sidebar .widget-title:after
{
  background-color:#ec587a
}
  #main-sidebar .c-loading-anim
{
  background-color:transparent
}
  #main-sidebar .c-alert-message
{
  color:#fff;
  border-color:#2e2e2e
}
  #main-sidebar .image-list>li>a
{
  -moz-box-shadow:0 0 0 3px #2e2e2e;
  -webkit-box-shadow:0 0 0 3px #2e2e2e;
  box-shadow:0 0 0 3px #2e2e2e
}
  #main-sidebar .image-list>li>a:hover
{
  -moz-box-shadow:0 0 0 3px #404040;
  -webkit-box-shadow:0 0 0 3px #404040;
  box-shadow:0 0 0 3px #404040
}
  #main-sidebar .subscribe-widget input
{
  color:#fff;
  background-color:#2e2e2e
}
  #main-sidebar .twitter-widget .tweet_time a
{
  color:#fff
}
  #main-sidebar .twitter-widget .tweet_time a:hover
{
  border-color:#fff
}
  #main-sidebar .twitter-widget .nav-buttons
{
  border-color:#ec587a
}
  #main-sidebar .twitter-widget .nav-buttons>button
{
  color:#fff
}
  #main-sidebar .twitter-widget .nav-buttons>button:hover
{
  color:#FFF;
  background-color:#ec587a
}
  @media (max-width: 1199px)
{
  #main-sidebar .sidebar-menu .toggle:hover
{
  color:#ec587a;
  background-color:transparent
}
  #main-sidebar .sidebar-menu .toggle.m-active
{
  color:#FFF;
  background-color:#ec587a
}

}

